Click==7.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-Moment==0.7.0
Flask-MySQLdb==0.2.0
Flask-Paranoid==0.2.0
Flask-PyMongo==2.2.0
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
Jinja2==2.10.1
MarkupSafe==1.1.1
PyMySQL==0.9.3
WTForms==2.2.1
Werkzeug==0.14.1
asn1crypto==0.24.0
autocommand==2.2.1
beautifulsoup4==4.7.1
certifi==2019.3.9
cffi==1.12.3
cryptography==2.6.1
idna==2.8
importlib-metadata==0.9
importlib-resources==1.0.2
itsdangerous==1.1.0
mongo-connector==3.1.1
mysqlclient==1.4.2.post1
passlib==1.7.1
pycparser==2.19
pygal==2.4.0
pymongo==3.7.2
requests==2.22.0
soupsieve==1.7.3
typing==3.6.6
urllib3==1.25.3
virtualenv==16.4.0
zipp==0.3.3
