/* --------------------------Special paddings, margins and styling------------------------------------------ */


.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.vh100 {
    min-height: 100vh;
    margin-top: 150px;
}

footer {
    margin-top: 100px;
    position: relative;
}

.top-10 {
    margin-top: 10%;
    margin-right: 20px;
}


select,
option {
    background: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 11px;
}

/* -------------------------------------------Buttons--------------------------------------- */

.update-button-container,
.add-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-button,
.add-button {
    width: 112px !important;
    height: 34px;
}

/* --------------------------------------------- Add and edit form ----------------------------- */

.ingredient,
.instruction,
.recipe-name {
    margin-left: auto;
    margin-right: auto;
}

.ingredient,
.instruction {
    display: flex;
    margin-top: 5px;
    height: 34px;
}

.delete-instruction,
.add-instruction,
.add-ingredient,
.delete-ingredient {
    border: 0;
    margin-right: 10px;
}

.add-instruction,
.add-ingredient {
    margin-left: 20px;
}

.filter-select {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ---------------------------------------------- Alerts ---------------------------------------- */

#alert-edit-ingredient,
#alert-add-ingredient,
#alert-add-instruction,
#alert-edit-instruction {
    text-align: center;
    margin-top: -100px;
    height: 50px;
    position: fixed;
    width: 100%;
    font-size: 16px;
}

/* ----------------------------------------------- Add and Edit Recipe Forms -------------------------------------------- */

.add-recipe__name,
.add-recipe__ingredients,
.add-recipe__instructions,
.edit-recipe__name,
.edit-recipe__instructions,
.edit-recipe__ingredients {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 16px;
}


/* -------------------------------------------------Footer------------------------------------------------- */

footer {
    bottom: 0;
    width: 100%;
}

/* --------------------------------------------------Media Queries------------------------------- */


@media only screen and (max-height: 360px) {
    
    form {
        top: 15vh;
    }
}


@media (min-height: 361px) and (max-height: 667px) {
    footer {
        bottom: -100px;
    }

    form {
        top: 25vh;
    }

    .form-control {
        margin-bottom: 5px;
    }
}


@media (min-height: 1025px) {
    form {
        top: 25vh;
    }
}

@media (max-width: 1440px) and (min-width: 769px) {
    .ingredient,
    .recipe-name {
        width: 40vw;
        max-width: 40vw;
    }
    
    .instruction {
        width: 60vw;
        max-width: 60vw;
    }
}

@media (min-width: 1441px) {
    .ingredient,
    .recipe-name {
        width: 30vw;
        max-width: 30vw;
    }
    
    .instruction {
        width: 60vw;
        max-width: 60vw;
    }
}

@media only screen and (max-width: 360px) {
    select,
    option {
        margin-left: 0;
        font-size: 10px;
    }
}

@media (min-width: 412px) and (max-width: 1440px) {
    select,
    option {
        font-size: 14px;
    }
}

@media (min-width: 1441px) {
    select,
    option {
        font-size: 18px;
    }
}

