/* ----------------------------------- Special margins and styling --------------------------------- */

select,
option {
    background: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    height: 30px;
    margin-top: 120px;
    margin-left: 10px;
    font-size: 11px;
}

.container {
    margin-top: 100px;
}

.btn:disabled {
    background-color: #62a5a1;
    opacity: 1;
    cursor: pointer;
    pointer-events: none;
}



/* ---------------------------------------- Recipe filters -------------------------- */

#filter-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}


#num-results,
#filter_results {
    display: flex;
    align-items: center;
    justify-content: center;
}

#num-results {
    margin-top: 0;
}

#filter_results {
    margin-top: 200px;
}

#filter-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------------------------- Filter Buttons ------------------------------------------ */

#filter-btn {
    background-color: #62a5a1;
}

.all-recipes {
    height: 32px;
    color: black;
    margin-left: 20px;
}

.all-recipes:hover {
    text-decoration: none;
}

.btn {
    margin-top: 0;
}

.back-all-button {
    background: white;
    border: 1px solid black;
}

/* -----------------------------------  Media Queries --------------------- */

@media only screen and (max-width: 360px) {
    select,
    option {
        font-size: 10px;
        margin-left: 0;
    }
    
    form {
        margin-top: 30px;
    }
}

@media (min-width: 412px) and (max-width: 1440px) {
    select,
    option {
        font-size: 14px;
    }
}

@media (min-width: 412px) and (max-width: 1440px) {
    select,
    option {
        font-size: 14px;
    }
}

@media (max-height: 1024px) and (min-height: 667px) and (min-width: 600px) {
    form {
        top: 8vh;
    }
}

@media (max-height: 1366px) and (min-height: 1024px) {
    form {
        top: 7vh;
    }
}

@media(min-height: 600px)  and (max-height: 1366px) and (max-width: 767px) {
    #filter_results {
        margin-top: 220px;
    }
}


@media(min-height: 600px)  and (max-height: 1366px) and (min-width: 768px) and (max-width: 2560px) {
    #filter_results {
        margin-top: 260px;
    }
}

@media (max-height: 667px) and (min-height: 360px) and (min-width: 768px) {
  form {
      top: 14vh;
  }
}

