@import url("/static/scss/main.css");

/*------------------Special margins and styling--------------- */

html,
body {
    background: none;
}

section {
    margin-top: 50px;
}

/*------------------------------------- Recipe ----------------------- */

.image__inline {
    width: 100%;
}

.title__description {
    font-size: 30px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: bold;
}

.author__description {
    font-size: 16px;
    margin-left: 5vw;
}

.recipe-separator {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    border: 1px solid gray;
}

.info__time {
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    height: 140px;
    margin-bottom: 20px;
}

.time__cooking,
.time__preparation,
.time__ready {
    height: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.time__cooking {
    margin-left: 2.5vw;
    width: 30vw;
}

.time__preparation {
    margin-left: 32.5vw;
    width: 40vw;
}

.time__ready {
    margin-left: 77.5vw;
    margin-right: 2.5vw;
    width: 20vw;
}

.is-time {
    margin-top: 10px;
    color: #009978;
    font-size: 16px;
}

.recipe__alert {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    height: 100px;
}

.alert__description {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 20px;
    background: #f26226;
    width: 50vw;
    margin-left: 25vw;
}

.box__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.recipe__quantities {
    margin-top: 50px;
}

/* ---------------------------------------Media Queries ------------------------------ */

@media only screen and (max-width: 768px) {
    footer {
        bottom: 0;
        position: relative;
    } 
}
