/*------------------Special margins and styling--------------- */

body,
html {
    background: none;
    height: 100%;
    margin: 0;
}

section {
    margin-top: 50px;
}

/*------------------------------------- Recipe ----------------------- */

.recipe__info,
.recipe__image {
    width: 100vw;
}

.image__inline {
    width: 100%;
}

.title__description {
    font-size: 30px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: bold;
}

.author__description {
    font-size: 16px;
    margin-left: 5vw;
}

.recipe-separator {
    margin-left: 5vw;
    margin-right: 5vw;
    border: 1px solid gray;
}

.info__time {
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
}

.time__cooking,
.time__preparation,
.time__ready {
    height: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.time__cooking {
    margin-left: 2.5%;
    width: 30%;
}

.time__preparation {
    margin-left: 32.5%;
    width: 40%;
}

.time__ready {
    margin-left: 72.5%;
    margin-right: 2.5%;
    width: 25%;
}
