/*------------------Special margins and styling--------------- */

html,
body {
    height: fit-content;
}

section {
    margin-top: 50px;
    overflow: hidden;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

ul {
    display: inline;
}

/*------------------------------------- Recipe Image ----------------------- */

.image__inline {
    max-height: 322px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 30px;
    border-radius: 25%;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -o-object-fit: cover;
}


/* -------------------------------------- Recipe Info ------------------------- */

.title__description {
    font-size: 30px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: bold;
    text-align: center;
}

.author__description {
    font-size: 16px;
}

.recipe__author,
.recipe__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------- Recipe Cooking Time and Specs ---------------------------- */

.recipe-separator {
    width: 95%;
    margin-left: 2.5%;
    border: 1px solid gray;
}

.info__specs {
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    position: sticky;
}

.info__time {
    height: 140px;
}

.info__specs {
    height: 70px;
}

.specs__cuisine,
.specs__course,
.specs__allergens {
    height: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
}


.specs__cuisine {
    margin-left: 2.5vw;
    width: 30vw;
}

 
.specs__course {
    margin-left: 30vw;
    width: 40vw;
}


.specs__allergens {
    margin-left: 70vw;
    margin-right: 2.5vw;
    width: 22vw;
}


.is-spec {
    margin-top: 10px;
    color: #009978;
    font-size: 16px;
}


.ingredients__description,
.instructions__description{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    margin-left: 2.5vw;
}

/* ------------------------------------------ Recipe Alert ----------------------------- */

.recipe__alert {
    margin-right: 2.5vw;
    width: 95vw;
    height: 100px;
    margin-bottom: 20px;
}

.alert__description {
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    margin-left: 2.5vw;
}

.alert__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background: #f26226;
    width: 50vw;
    margin-left: 25vw;
}

.box__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__link:hover {
    text-decoration: none;
    color: white;
}

/* ------------------------------------------------ Recipe Ingredients ---------------------- */

.ingredients {
    margin-top: 0;
}

.recipe__ingredients li {
    min-height: 40px;
}


.recipe__ingredients li {
    color: #009978;
}

.recipe__ingredients {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
}

.ingredients__container {
    list-style-type: none;
}

/* ------------------------------------------Recipe instructions -------------------- */

.instructions__index {
    padding: 5px 10px 5px 10px;
    border: 1px solid gray;
    border-radius: 50%;
}

.cooking {
    margin-left: 0;
    margin-bottom: 50px;
}

.instructions__full {
    width: 90vw;
    margin-top: 30px;
}

.instructions__full li {
    list-style-type: none;
    margin-left: 50px;
    margin-top: -20px;
}

.recipe__instructions {
    margin: 50px 5% 50px 2.5%;
    width: 92.5%;
}



/* ---------------------------------------Media Queries ------------------------------ */

@media (min-width: 768px) and (max-width: 1280px) {
    .image__inline {
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }
}

@media (min-width: 1280px) and (max-width: 1700px) {
    .image__inline {
        width: 40vw;
        margin-left: 30vw;
        margin-right: 30vw;
    }
}

@media (min-width: 1700px) {
    .image__inline {
        width: 30vw;
        margin-left: 35vw;
        margin-right: 35vw;
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .modal__alert {
        margin-top: 0;
    }
}

@media (min-width: 560px) and (max-width: 768px) {
    .alert__box {
        width: 26vw;
        margin-left: 37vw;
    }
}


@media (min-width: 769px) and (max-width: 1280px) {
    .alert__box {
        width: 20vw;
        margin-left: 40vw;
    }
}

@media (min-width: 1281px) and (max-width: 1920px) {
    .alert__box {
        width: 14vw;
        margin-left: 43vw;
    }
}

@media (min-width: 1921px) {
    .alert__box {
        width: 10vw;
        margin-left: 45vw;
    }
}






