/*------------------Special margins and styling--------------- */

html,
body {
    height: fit-content;
}

section {
    margin-top: 50px;
    overflow: hidden;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

ul {
    display: inline;
}

/*------------------------------------- Recipe Image ----------------------- */

.image__inline {
    max-height: 322px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 30px;
    border-radius: 25%;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -o-object-fit: cover;
}

/* ------------------------------------- Recipe Likes ------------------------------ */

.recipe__likes {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe__likes span,
.recipe__likes .fa-thumbs-up {
    margin-right: 10px;
}

.recipe__likes a {
    text-decoration: none;
}


/* -------------------------------------- Recipe Info ------------------------- */

.title__description {
    font-size: 30px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: bold;
    text-align: center;
}

.author__description {
    font-size: 16px;
}

.recipe__author,
.recipe__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------- Recipe Cooking Time and Specs ---------------------------- */

.recipe-separator {
    width: 95%;
    margin-left: 2.5%;
    border: 1px solid gray;
}

.info__time,
.info__specs {
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    position: sticky;
}

.info__time {
    height: 140px;
}

.info__specs {
    height: 70px;
}

.time__cooking,
.time__preparation,
.time__ready,
.specs__cuisine,
.specs__course,
.specs__allergens {
    height: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.time__cooking,
.specs__cuisine {
    margin-left: 2.5vw;
    width: 30vw;
}

.time__clock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.time__preparation,
.time__clock, 
.specs__course {
    margin-left: 30vw;
    width: 40vw;
}

.time__ready,
.specs__allergens {
    margin-left: 70vw;
    margin-right: 2.5vw;
    width: 22vw;
}

.is-time,
.is-spec {
    margin-top: 10px;
    color: #009978;
    font-size: 16px;
}


.ingredients__description,
.instructions__description{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    margin-left: 2.5vw;
}

/* ------------------------------------------------ Recipe Ingredients ---------------------- */

.ingredients {
    margin-top: 0;
}

.recipe__ingredients li {
    min-height: 40px;
}


.recipe__ingredients li {
    color: #009978;
}

.recipe__ingredients {
    margin-top: 20px;
    width: 65vw;
    margin-bottom: 20px;
    display: inline-block;
}

.ingredients__container {
    list-style-type: none;
}

/* ------------------------------------------Recipe instructions -------------------- */

.instructions__index {
    padding: 5px 10px 5px 10px;
    border: 1px solid gray;
    border-radius: 50%;
}

.cooking {
    margin-left: 0;
    margin-bottom: 50px;
}

.instructions__full {
    width: 90vw;
    margin-top: 30px;
}

.instructions__full li {
    list-style-type: none;
    margin-left: 50px;
    margin-top: -20px;
}

.recipe__instructions {
    margin-bottom: 50px;
    margin-left: 2.5%;
    margin-right: 5%;
    width: 92.5%;
}

/* ---------------------------------------Media Queries ------------------------------ */

@media only screen and (max-width: 768px) {
    .recipe__ingredients {
        width: 50%;
        margin-left: 5%;
    }
    
    .recipe__quantities {
        margin-left: 15%;
    }
}

@media (min-width: 768px) and (max-width: 2560px) {
    .recipe__ingredients {
        width: 40%;
        margin-left: 3.35%;
    }

    .recipe__quantities {
        margin-left: 37.5%;
        width: 10%;
    }
}

@media (min-width: 480px) and (max-width: 2560px) {
    .recipe__quantities li {
        text-align: right;
    }
}


@media (min-width: 768px) and (max-width: 1280px) {
    .image__inline {
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }
}

@media (min-width: 1280px) and (max-width: 1700px) {
    .image__inline {
        width: 40vw;
        margin-left: 30vw;
        margin-right: 30vw;
    }
}

@media (min-width: 1700px) and (max-width: 2560px) {
    .image__inline {
        width: 30vw;
        margin-left: 35vw;
        margin-right: 35vw;
    }
}






