/* ---------------------------------------- Buttons ----------------------------------- */

.inline {
    height: 34px;
}

.inline>.edit-container,
.inline>.delete-container {
    float: left;
    display: inline;
    width: 50%;
}


.delete-button,
.edit-button {
    width: 100%;
    margin-top: 0;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    color: black;
    border-radius: 0;
}


/* ---------------------------------------- Delete Recipe Modal ------------------------------ */

.delete-modal-center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.delete-button-modal {
    color: black;
    margin-right: 5px;
    border: 1px solid black;
}

.modal-dialog {
    top: 25%;
}

.modal-body {
    padding: 15px 15px 0 15px;
}

.modal-open {
    overflow: visible;
    padding-right: 0 !important;
}

.cancel-button {
    height: 34px;
    color: black;
    opacity: 0.7;
    font-size: 14px;
    border: 1px solid black !important;
}

.cancel-button:hover {
    background: white;
}

.cancel-button,
.delete-button-modal {
    margin-top: 0;
}

/* ----------------------------------------- Cancel Update Modal ------------------------- */
.cancel-update-button {
    margin-top: 10%;
    margin-right: 20px;
    opacity: 1;
    border: 1px solid black;
    color: black;
}

.reset-modal-center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.reset-button-modal {
    color: black;
    margin-top: 0;
    width: 120px;
    border: 1px solid black;
}

.cancel-update-button:hover {
    border: 1px solid gray;
    color: gray;
    background: white;
}

/* ----------------------------------------- Media Queries ----------------------------- */

@media (max-width: 559px) and (min-width: 320px) {
    .inline {
        width: 100vw;
    }
}



@media (min-width: 768px) and (max-width: 1000px) {
    .inline {
        width: 35vw;
    }
}

@media (max-width: 767px) and (min-width: 560px) {
    .inline {
        width: 60vw;
    }
}


@media (min-width: 1001px) {
    .inline {
        width: 26.66vw;
    }
}

@media (min-width: 1080px) {
    .btn {
        margin-top: 10%;
    }
    
    .reset-progress,
    .cancel-button,
    .delete-button-modal {
        margin-top: 0;
    }
}