/* -------------------------------------- Special margins/styling --------------- */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
    top: auto;
    position: relative;
    margin-bottom: 60px;
}

section {
    height: 100%;
}

footer {
    position: relative;
    width: 100%;
}

label {
    margin-left: 0;
    margin-top: 0;
    position: relative;
    font-weight: 100;
}

.form-control-file {
    background-color: white;
}


/* --------------------------------------- Profile ------------------------------ */

.no-margin-top {
    margin-top: 0;
}

.adjusted-margins {
    margin-top: 50px;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-body {
    text-align: center;
}

.account-img {
    height: 180px;
    border-radius: 50%;
    margin-top: 100px;
    width: 180px;
}

.update-group {
    margin-bottom: 20px;
}

/* ---------------------------------------- Recipes ---------------------------------- */

.recipes {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}


.container {
    margin-top: 20px !important;
}


/* ----------------------------------------- Media Queries ----------------------------- */

@media (max-width: 1920px) and (min-width: 768px) {
    .form-group--responsive {
        margin-left: 35vw;
        margin-right: 35vw;
    }
}

@media (max-width: 1920px) and (min-width: 768px) and (max-height: 368px) {
    footer {
        bottom: -200px;
    }
}

@media (max-width: 1920px) and (min-width: 768px) and (min-height: 369px) and (max-height: 1000px) {
    footer {
        height: 100px;
    }

    .footer__copyright {
        width: 100%;
    }
}



@media (min-width: 375px) and (max-width: 480px) and (min-height: 680px) and (max-height: 1000px) {
    footer {
        position: relative;
        bottom: -100px;
    }
}


