/*------------------Special margins and styling--------------- */

footer {
    position: relative;
}

body, html {
    background: none;
}

/*---------------------------Recipes---------------------*/

.name__inline, .author__inline {
  display: grid;
  text-align: center;
  width: 35vw;
  margin-top: 10px;
}

.recipes {
    display: inline-block;
    width: 35vw;
    margin-left: 10vw;
    margin-bottom: 100px;
    border: 1px solid #DCDCDC;
}

.recipes:hover {
    background: #F5F5F5;
}

.recipes__image {
    width: 34.8vw;
    height: 300px;
}

.recipes__image img {
    width: 100%;
    height: 100%;
}

.author__inline {
    font-size: 16px;
}