/*------------------Special margins and styling--------------- */

footer {
    position: relative;
}

.container {
    width: 100%;
    margin-top: 200px;
    padding: 0;
}

section {
    margin-top: 100px;
    overflow: hidden;
}


/*--------------------------- Recipe Info ---------------------*/

.name__inline,
.author__inline {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25vw;
    margin-top: 10px;
}

.name__inline {
    font-size: 20px;
}

.recipes {
    display: inline-block;
    width: 25vw;
    margin-left: 6vw;
    background: white;
    border-radius: 5%;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.recipes:hover {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.recipes__name {
    min-height: 70px;
    display: flex;
}

.recipes__image {
    width: 24.8vw;
    height: 200px;
}

.recipes__image img {
    width: 98.3%;
    height: 100%;
    border-radius: 20px;
}

.author__inline {
    font-size: 16px;
    color: black;
}

.random-message {
    width: 60vw;
    height: 60px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: -50px;
    position: relative;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.random-message:before,
.random-message:after {
    content: "";
    position: absolute;
    z-index: -2;
}

.lifted {
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.lifted:before,
.lifted:after {
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.lifted:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}


.recipes__view {
    height: 50px;
    font-size: 20px;
    width: 100vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.recipes__view a {
    text-decoration: none;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #62a5a1;
}


.view__details {
    color: black;
}



/*  ------------------------------------Pagination ------------------------- */

.list__prev,
.list__next {
    display: inline-block;
    text-align: center;
    margin-top: 16px;
}

.list__prev>a,
.list__next>a {
    color: black;
    text-decoration: none;
}

.list__prev {
    float: left;
    margin-left: 10vw;
}

.list__next {
    float: right;
    margin-right: 10vw;
}

.pagination__list,
.recipes__pagination {
    height: 50px;
    padding: 0;
    margin-bottom: 16px;
    font-size: 20px;
}

.font-size-icon {
    font-size: 50px;
}

/* ---------------------------------------Media Queries ------------------------------ */

@media (min-width: 320px) and (max-width: 560px) {
    .recipes {
        width: 100vw;
        margin-left: 0;
        z-index: 2;
        margin-bottom: 80px;
    }

    .recipes__pagination {
        margin-top: -30px;
    }

    .message-separator {
        display: none;
    }

    .random-message {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        height: 90px;
    }
}

@media (min-width: 560px)and (max-width: 768px) {
    .recipes,
    .recipes__view {
        width: 60vw;
    }

    .recipes {
        margin-left: 20vw;
        margin-bottom: 50px;
    }

    .list__next {
        margin-right: 20vw;
    }

    .list__prev {
        margin-left: 20vw;
    }

}

@media (min-width: 320px) and (max-width: 768px) {
    .recipes__image,
    .author__inline,
    .name__inline {
        width: 100%;
    }

    .recipes__image img {
        width: 80%;
        margin-left: 10%;
    }

    .recipes__separator-large,
    .recipes__separator-medium {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .recipes__image,
    .recipes__image img {
        height: 180px;
    }


}

@media (min-width: 768px) and (max-width: 1000px) {
    .recipes,
    .recipes__view,
    .recipes__image,
    .name__inline,
    .author__inline {
        width: 35vw;
    }

    .recipes {
        margin-left: 10vw;
        margin-bottom: 50px;
    }

    .recipes__separator-large {
        display: none;
    }

    .recipes__image img {
        width: 80%;
        margin-left: 10%;
    }
}

@media (min-width: 560px) and (max-width: 2560px) {
    .recipes__view {
        margin-bottom: 0;
        margin-bottom: 30px;
        margin-left: 10%;
        width: 80%;
    }
}


@media (min-width: 1000px) and (max-width: 2560px) {
    .recipes__separator-medium {
        display: none;
    }

    .recipes {
        margin-left: 5vw;
        margin-bottom: 50px;
    }

    .recipes,
    .recipes__image,
    .author__inline,
    .name__inline {
        width: 26.66vw;
    }

    .recipes__image img {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-height: 768px) {
    footer {
        position: relative;
        bottom: 0;
    }
}

@media (min-height: 1281px) and (max-height: 2560px) {
    footer {
        position: absolute;
        width: 100vw;
    }
}


@media (min-width: 1921px) and (max-width: 2560px) {
    .recipes__image {
        height: 300px;
    }
}