/* ------------------------- Special margins and styling ----------------- */

footer {
    position: absolute;
}


/* ---------------------------Recipe Search ------------------ */

#search_message,
#count_results {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_message {
    margin-top: 80px;
}

#count_results {
    margin-top: 0;
}

.uk-search {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}


.uk-search-input {
    width: 100vw;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.btn {
    width: 120px;
    margin-top: 0;
}

#search-btn-container {
    height: 34px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:disabled {
    background-color: #62a5a1;
    opacity: 1;
    cursor: pointer;
    pointer-events: none;
}

.font-size-icon {
    font-size: 50px;
}

.all-recipes {
    height: 32px;
    color: black;
    margin-left: 20px;
}

.all-recipes:hover {
    text-decoration: none;
}

.back-all-button {
    background: white;
    border: 1px solid black;
}

/* ---------------------------------- Media Queries ------------------------------ */

@media (max-height: 1366px) and (min-height: 1024px) {
    form {
        top: 15vh;
    }
}

@media (max-height: 1024px) and (min-height: 667px) {
    form {
        top: 15vh;
    }
}

@media (max-width: 768px) and (min-width: 560px) {
    .uk-search-input,
    #search-btn-container{
        width: 60vw;
    }
}

@media (min-height: 641px) and (max-height: 960px) and (min-width: 375px) {
    #search_message{
        margin-top: 40px;
    }
}


@media only screen and (max-width: 320px) {
    #search_message{
        margin-top: 35px;
    }
}

@media only screen and (max-height: 360px) {
    #search_message{
        margin-top: 20px;
    }

    .container {
        margin-top: 100px !important;
    }
}

@media (max-width: 1440px) and (min-width: 769px) {
    .uk-search-input,
    #search-btn-container{
        width: 40vw;
    }
}

@media (max-width: 2560px) and (min-width: 1441px) {
    .uk-search-input,
    #search-btn-container{
        width: 30vw;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .recipes__image {
        height: 300px !important;
    }
}


@media (max-height: 667px) and (min-height: 360px) {
    form {
        top: 25vh;
    }
}
