 /* --------------------------Special paddings, margins and styling------------------------- */

 html,
 body {
  height: fit-content;
 }

 footer {
  position: relative;
 }

 /* ----------------------------Charts-------------------------------*/

 #dot_chart {
  margin-top: 100px;
 }

 #gauge_chart {
  margin-bottom: 50px;
 }

 #gauge_chart,
 #solid_gauge_chart {
  margin-top: 25px;
 }

 /* ----------------------------Media Queries-------------------------------*/

 @media (min-width: 768px) {
  #dot_chart,
  #gauge_chart,
  #solid_gauge_chart {
   margin-left: 20vw;
   margin-right: 20vw;
   width: 60vw;
   max-width: 60vw;
  }
 }

 @media (max-height: 667px) and (min-height: 360px) {
  footer {
   bottom: 0px;
  }
 }
 