 /* --------------------------Special paddings, margins and styling------------------------------------------ */

 html,
 body {
  background: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow: initial;
 }

form {
 position: absolute;
 z-index: 3;
 margin: 0;
}

 .alert-success,
 .alert-danger {
  margin-top: 50px;
 }

 .help-inline {
  color: #62a5a1;
 }

 .alert-message {
  margin-top: 50px;
  color: #721c24;
  background: #f5c6cb;
 }

 .row-center {
  display: flex;
  align-items: center;
  justify-content: center;
 }


 /* -------------------------------------------Navigation------------------------------------- */

 #navbar {
  background-color: #62a5a1;
  width: 100%;
  margin: 0px;
  z-index: 4;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 }

 nav {
  background: #62a5a1;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
 }

 .navbar-toggle .icon-bar {
  background-color: black;
 }

 .container--nav {
  padding-right: 0px;
  padding-left: 0px;
 }

 .navbar-header a {
  color: black;
  font-size: 24px;
  font-family: "Arial";
 }

 .navbar-header a:hover {
  color: white;
 }

 #navbar a {
  color: black;
  font-size: 20px;
  font-family: "Arial";
 }

 #navbar a:hover {
  color: white;
  background: #62a5a1;
 }

 .navbar-middle li a {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5vw;
 }


 /* -------------------------------------------Buttons--------------------------------------- */

 .btn {
  padding-left: 0px;
  padding-right: 0px;
  width: 100px;
  margin-top: 10%;
 }

 .btn-primary {
  background-color: #62a5a1;
  border-color: #62a5a1;
  color: black;
 }

 .btn-primary:hover {
  background-color: #62a5a1;
  color: white;
 }

 .btn-success {
  background-color: #f26226;
  border-color: #f26226;
 }

 /* -----------------------------------------------Register Form-------------------------------------------- */

 .form-group--responsive {
  width: 70vw;
  margin-bottom: -2%;
  margin-left: 15vw;
  margin-right: 15vw;
 }

 .form-row {
  display: flex;
  text-align: center;
 }

 /* -------------------------------------------------Footer------------------------------------------------- */

 .footer {
  width: auto;
  background-color: black;
  bottom: 0;
  position: relative;
  text-align: center;
  line-height: 10%;
  height: 100px;
 }

 .footer__copyright {
  color: white;
  line-height: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
 }

 .footer__copyright a {
  color: white;
  margin-left: 10px;
 }

 footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }

 /* --------------------------------------------------Media Queries------------------------------- */

 @media only screen and (max-width: 360px) {
  .navbar-toggle {
   margin-right: 5px;
  }

  #navbar a {
   font-size: 17.5px;
  }
 }


 @media only screen and (max-width: 767px) {
  .navbar-middle,
  .navbar-right {
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .navbar-middle {
   margin-top: 23px;
  }

  .navbar-right {
   margin-bottom: 23px;
  }

  .add_recipe-tag,
  .profile-tag {
   height: 30px;
  }

 }


 @media screen and (max-width: 500px) {
  .form-control {
   margin-bottom: -5px;
  }

  label {
   margin-bottom: 0;
  }
 }


 @media (min-width: 560px) and (max-width: 768px) {
  .form-group--responsive {
   width: 40vw;
   margin-left: 30vw;
   margin-right: 30vw;
  }
 }

 @media (min-width: 768px) and (max-width: 1024px) {
  .navbar-header a {
   font-size: 20px;
  }

  #navbar a {
   font-size: 16px;
  }
 }

 @media (min-width: 768px) and (max-width: 1024px) {
  .navbar-nav {
   padding-left: 0;
  }

  .navbar-middle {
   left: 10vw;
   width: 40vw;
   position: absolute;
  }
 }

 @media (min-width: 1024px) and (max-width: 1440px) {
  .navbar-middle {
   left: 20vw;
   width: 40vw;
   position: absolute;
  }
 }

 @media (min-width: 1440px) and (max-width: 2560px) {
  .navbar-middle {
   left: 30vw;
   right: 30vw;
   width: 40vw;
   position: absolute;
  }
 }



 @media (min-width: 768px) and (max-width: 1280px) {
  .form {
   margin-top: -5%;
  }
 }


 @media (min-width: 768px) and (max-width: 1920px) {
  .form-group--responsive {
   width: 30vw;
   margin-left: 40vw;
   margin-right: 30vw;
  }
 }

 @media (min-width: 768px) and (max-width: 2560px) {
  .navbar-middle {
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .navbar-right {
   margin-right: 15px;
   height: 50px;
  }

  .navbar-brand {
   padding-left: 2vw;
  }

  .footer__copyright a {
   font-size: 24px;
  }
 }

 @media (min-width: 1920px) and (max-width: 2560px) {
  .form-group--responsive {
   width: 30vw;
   margin-left: 35vw;
   margin-right: 35vw;
  }
 }


 @media (min-width: 1080px) and (max-width: 2560px) {
  .form-group--responsive {
   margin-top: 1%;
  }

  .btn {
   margin-top: 5%;
  }
 }


 @media screen and (max-height: 768px) and (min-width: 768px) {
  label {
   position: absolute;
   margin-top: 10px;
   margin-left: -180px;
  }
 }

 @media only screen and (max-height: 360px) {
  footer {
   bottom: -65vh;
  }

  form {
   top: 15vh;
  }
 }


 @media (min-height: 360px) and (max-height: 667px) {

  form {
   top: 12vh;
  }

  .form-control {
   margin-bottom: 5px;
  }
 }


 @media (min-height: 667px) and (max-height: 1024px) {
  form {
   top: 15vh;
  }

  .form-control {
   margin-bottom: 5px;
  }
 }


 @media (min-height: 1024px) and (max-height: 1366px) {
  form {
   top: 25vh;
  }
 }
 