 /* --------------------------Special paddings, margins and styling */

 body {
     background: url("../images/cookbook.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }


 /* -------------------------------------------Navigation */

 /*-----------------------------------------------Navbar*/

 #navbar {
     background-color: #90E5E1;
     margin-bottom: 100px;
 }

 .container--nav {
     padding-right: 0px;
     padding-left: 0px;
 }

 .navbar-header a {
     color: black;
     font-size: 24px;
     font-family: "Playfair Display";
 }

 #navbar a {
     color: black;
     font-size: 20px;
     font-family: "Playfair Display";
 }

 /* -------------------------------------------Buttons */
 
 .btn {
     padding-left: 0px;
     padding-right: 0px;
 }

 /* ------------------------------------------------Colors */

 /* -----------------------------------------------Register */

 .form-group--responsive {
     width: 40vw;
     margin-left: 25vw;
     margin-right: 25vw;
 }
 
input[type = "submit"], p {
    width: 40vw;
}
 
 .form-row {
     display: flex;
     text-align: center;
 }
 
 
 h3 {
     text-align: center;
 }
 

 /* -------------------------------------------------------------Images */

 /* -------------------------------------------------Footer */

 /* -------------------------------------------------------------------------------Media Queries */
 