/* ------------------------------------------- Special margins/styling ------------------------- */

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: blue;
    text-align: center;
}

a:visited { 
    color: blue;
}

/* -------------------------------------------- Error text ------------------------------ */

.error__text {
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    font-size: 24px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}