/*------------------Special margins and styling--------------- */

html,
body {
    height: fit-content;
    overflow-y: visible !important;
}

section {
    margin-top: 3.125rem;
    overflow: hidden;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

ul {
    display: inline;
}

/*------------------------------------- Recipe Image ----------------------- */

.image__inline {
    max-height: 20.125rem;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1.875rem;
    border-radius: 25%;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -o-object-fit: cover;
}

/* ------------------------------------- Recipe Likes ------------------------------ */

.recipe__likes {
    margin-top: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe__likes span,
.recipe__likes .fa-thumbs-up {
    margin-right: 10px;
}

.recipe__likes a {
    text-decoration: none;
}


/* ------------------------------------- Recipe Ratings ---------------------------- */

.recipes__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.625rem;
}

.ratings__title,
.numbers-rating {
    margin-right: 0.625rem;
}


.stars-outer {
    position: relative;
    display: inline-block;
    margin-right: 0.625rem;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #cccccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
}

/* -------------------------------------- Ratings modal -------------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin-top: 3.125rem;
    border: 0.0625rem solid #888;
    width: 100%;
    height: 18.75rem;
}

.modal__title {
    text-align: center;
    color: #009978;
}

.modal__title--question {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal__title--margins-1 {
    margin-top: 15%;
}

.modal__title--margins-2 {
    margin-top: 5%;
}

.modal__select {
    text-align: center;
    margin-top: 10%;
}

.modal__rating {
    margin-top: -8%;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}

.modal__submit {
    margin-top: 6%;
}

.modal__submit,
#rating__button {
    background-color: #009978;
    color: black;
    border-radius: 0.25rem;
}

.modal__submit:hover,
#rating__button:hover {
    color: white;
    opacity: 0.7;
}

.modal__alert {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.25rem;
    height: 2.1875rem;
    margin-left: auto;
    margin-right: auto;
}

#recipe__modal {
    position: fixed;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0.625rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

x-star-rating {
    display: inline-flex;
    cursor: pointer;
    font-family: "Ionicons";
    font-size: 1.875rem;
}

x-star-rating>.star:after {
    content: "\f3ae";
    color: #cccccc;
}

x-star-rating>.star.full:after {
    content: "\f2fc";
    color: #fd0;
}

/* -------------------------------------- Recipe Info ------------------------- */

.title__description {
    font-size: 1.875rem;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: bold;
    text-align: center;
}

.author__description {
    font-size: 1rem;
}

.recipe__author,
.recipe__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------- Recipe Cooking Time, Nutrition and Specs ---------------------------- */

.recipe-separator {
    width: 95%;
    margin-left: 2.5%;
    border: 0.0625rem solid gray;
}

.info__time,
.info__specs,
.info__nutrition {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0.9375rem;
    margin-bottom: 1.25rem;
    position: sticky;
}

.info__time {
    height: 8.75rem;
}

.info__specs,
.info__nutrition {
    height: 4.375rem;
}

.time__cooking,
.time__preparation,
.time__ready,
.specs__cuisine,
.specs__course,
.specs__allergens,
.nutrition__calories,
.nutrition__servings {
    height: 6.25rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.time__cooking,
.specs__cuisine {
    margin-left: 2.5vw;
    width: 30vw;
}

.nutrition__calories {
    width: 50vw;
}

.nutrition__servings {
    margin-left: 50vw;
    width: 50vw;
}

.time__clock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.time__preparation,
.time__clock, 
.specs__course {
    margin-left: 30vw;
    width: 40vw;
}

.time__ready,
.specs__allergens {
    margin-left: 70vw;
}

.is-time,
.is-spec,
.is-nutrition {
    margin-top: 0.625rem;
    color: #009978;
    font-size: 1rem;
}

/* ------------------------------------------ Recipe Alert ----------------------------- */

.recipe__alert {
    margin-right: 2.5vw;
    width: 95vw;
    height: 6.25rem;
    margin-bottom: 1.25rem;
}

.alert__description,
.ingredients__description,
.instructions__description {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    margin-left: 2.5vw;
}

.alert__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.1875rem;
    background: #f26226;
    width: 50vw;
    margin-left: 25vw;
}

.box__link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__link:hover {
    text-decoration: none;
    color: white;
}

/* ------------------------------------------------ Recipe Ingredients ---------------------- */

.recipe__quantities {
    margin-top: 1.25rem;
    margin-left: 5%;
    width: 30%;
    margin-bottom: 1.25rem;
    display: inline-block;
    float: left;
}

.ingredients {
    margin-top: 3.125rem;
}

.recipe__quantities li,
.recipe__ingredients li {
    min-height: 2.5rem;
}

.recipe__quantities li {
    text-align: left;
    font-style: italic;
    color: gray;
}

.recipe__ingredients li {
    color: #009978;
}

.recipe__ingredients {
    margin-top: 1.25rem;
    width: 65vw;
    margin-bottom: 1.25rem;
    display: inline-block;
}

.ingredients__container,
.quantities__container {
    list-style-type: none;
}

/* ------------------------------------------Recipe instructions -------------------- */

.instructions__index {
    padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
    border: 0.0625rem solid gray;
    border-radius: 50%;
}

.cooking {
    margin-left: 0;
    margin-bottom: 3.125rem;
}

.instructions__full {
    width: 90vw;
    margin-top: 1.875rem;
}

.instructions__full li {
    list-style-type: none;
    margin-left: 3.125rem;
    margin-top: -1.25rem;
}

.recipe__instructions {
    margin-bottom: 3.125rem;
    margin-left: 2.5%;
    width: 92.5%;
}

/* ---------------------------------------Media Queries ------------------------------ */

@media (min-width: 360px) and (max-width: 768px) {
    .modal__alert {
        margin-top: 0;
    }
}


@media only screen and (max-width: 768px) {
    .recipe__ingredients {
        width: 50%;
        margin-left: 5%;
    }
    
    .recipe__quantities {
        margin-left: 15%;
    }
}

@media (min-width: 768px) {
    .recipe__ingredients {
        width: 40%;
        margin-left: 3.35%;
    }

    .recipe__quantities {
        margin-left: 37.5%;
        width: 10%;
    }
}

@media (min-width: 480px) {
    .recipe__quantities li {
        text-align: right;
    }
}

@media only screen and (max-height: 360px) {
    .modal-content {
        height: 100%;
        margin-bottom: 0;
        position: fixed;
    }

    .modal__title--margins-1 {
        margin-top: 10%;
    }
    
    x-star-rating {
        margin-top: 18%;
    }
    
    .modal__title--question {
        margin-top: 0;
    }
}

@media (min-height: 361px) and (max-height: 533px) {
    .modal__rating {
        margin-top: -4%;
    }
}

@media (min-width: 385px) and (max-width: 480px) and (min-height: 534px) and (max-height: 799px) {
    .modal__rating {
        margin-top: 3%;
    }
}


@media (min-width: 600px) and (max-width: 768px) and (min-height: 961px) and (max-height: 1024px) {
    .modal__rating {
        margin-top: -15%;
    }
}

@media only screen and (max-width: 600px) and (min-height: 769px) and (max-height: 960px) {
    .modal__rating {
        margin-top: 4%;
    }
}

@media (min-width: 767px) and (max-width: 1440px) and (min-height: 769px) and (max-height: 1023px) {
    .modal__rating {
        margin-top: 9%;
    }
}

@media (min-width: 641px) and (max-width: 1440px) and (max-height: 768px) {
    .modal__rating {
        margin-top: 12%;
    }
}

@media only screen and (max-width: 320px) and (min-height: 361px) {
    .modal-content {
        height: 15.625rem;
    }
}

@media (min-width: 321px) and (max-width: 380px) and (min-height: 361px) {
    .modal-content {
        height: 16.875rem;
    }
}


@media (min-width: 381px) and (max-width: 420px) and (min-height: 361px) {
    .modal-content {
        height: 18.125rem;
    }
}

@media (min-width: 421px) and (max-width: 490px) and (min-height: 361px) {
    .modal-content {
        height: 20rem;
    }
}

@media (min-width: 421px) and (max-width: 490px) and (min-height: 361px) and (max-height: 660px) {
    .modal__select {
        margin-top: 7%;
    }
}

@media (min-width: 491px) and (max-width: 560px) and (min-height: 361px) {
    .modal-content {
        height: 21.875rem;
    }
}

@media (min-width: 491px) and (max-width: 560px) and (min-height: 361px) and (max-height: 660px) {
     x-star-rating {
        margin-top: 6%;
    }
}


@media (min-width: 561px) and (max-width: 600px) and (min-height: 361px) {
    .modal-content {
        height: 23.125rem;
    }
}

@media (min-width: 561px) and (max-width: 600px) and (min-height: 361px) and (max-height: 660px) {
     x-star-rating {
        margin-top: 8.5%;
    }
    
    .modal__submit {
        margin-top: 11%;
    }
}

@media (min-width: 601px) and (max-width: 1280px) and (min-height: 361px) {
    .modal-content {
        height: 25rem;
    }
}


@media (min-width: 601px) and (max-width: 670px) and (min-height: 361px) and (max-height: 660px) {
     x-star-rating {
        margin-top: 10%;
    }
    
    .modal__submit {
        margin-top: 12%;
    }
}

@media (min-width: 671px) and (max-width: 768px) and (min-height: 361px) and (max-height: 660px) {
     x-star-rating {
        margin-top: 12.5%;
    }
}

@media (min-width: 820px) and (max-width: 1280px) and (min-height: 361px) and (max-height: 660px) {
     x-star-rating {
        margin-top: 14%;
    }
}


@media (min-width: 1281px) and (min-height: 361px) {
    .modal-content {
        height: 26.25rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .modal-content {
        width: 80vw;
        margin-left: 10vw;
    }
}

@media (min-width: 1025px) {
    .modal-content {
        width: 60vw;
        margin-left: 20vw;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .image__inline {
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }
}

@media (min-width: 1280px) and (max-width: 1700px) {
    .image__inline {
        width: 40vw;
        margin-left: 30vw;
        margin-right: 30vw;
    }
}

@media (min-width: 1700px) {
    .image__inline {
        width: 30vw;
        margin-left: 35vw;
        margin-right: 35vw;
    }
}

@media (min-width: 768px) {
    .modal__title--margins-2 {
        margin-top: 2.5%;
    }
}

@media (min-width: 1440px) {
    .modal__title--margins-1 {
        margin-top: 10%;
    }
}

@media (min-width: 560px) and (max-width: 768px) {
    .alert__box {
        width: 26vw;
        margin-left: 37vw;
    }
}


@media (min-width: 769px) and (max-width: 1280px) {
    .alert__box {
        width: 20vw;
        margin-left: 40vw;
    }
}

@media (min-width: 1281px) and (max-width: 1920px) {
    .alert__box {
        width: 14vw;
        margin-left: 43vw;
    }
}

@media (min-width: 1921px) {
    .alert__box {
        width: 10vw;
        margin-left: 45vw;
    }
}


@media only screen and (max-width: 800px) and (min-height: 1025px) {
    .modal__rating {
        margin-top: -25%;
    }
}

@media (min-width: 801px) and (max-width: 1440px) and (min-height: 1025px) {
    .modal__rating {
        margin-top: -17%;
    }
}


@media (min-width: 1441px) {
    .modal__title--question {
        margin-top: 0;
    }
    
    .modal__select {
        margin-top: 5%;
    }
}