/* --------------------------------------- Special stylings and margins---------------------------*/

html {
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
}
.register-button {
	margin-top: 0.9375rem;
}
