{% extends 'base.html' %} {% block content %}
<section>
<form id="recipe">
    <div class="container">
        <p>Recipe Name</p>
        <input type="text" class="form-control" id="recipe__name" placeholder="Please enter your recipe name here">
    </div>
    <div class="container">
        <p>Ingredients</p>
        <div id="ingredients-list" class="form-group">
            <div class="ingredient">
                <input type="text" name = "ingredient-1" class="form-control" placeholder="Please enter an ingredient">
                <button class="add-ingredient secondary-content" type="button">
                    <i class="material-icons right">add</i>
                </button>
                <button class="delete-ingredient secondary-content" type="button">
                    <i class="material-icons right">clear</i>
                </button>
            </div>
        </div>
    </div>
    <div class = "container">
     <select id="allergen" name="allergen_name">
        <option value="" disabled selected>Choose Allergen</option>
        {% for allergen in allergens %}
            <option value="{{ allergen.allergen_name }}">{{ allergen.allergen_name }}</option>
        {% endfor %}
    </select>
    <select id="cuisine" name="cuisine_name">
        <option value="" disabled selected>Choose Cuisine</option>
        {% for cuisine in cuisines %}
            <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
        {% endfor %}
    </select>
    <select id="course" name="course_name">
        <option value="" disabled selected>Choose Course</option>
        {% for course in courses %}
            <option value="{{ course.course_name }}">{{ course.course_name }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="container">
        <p>Cooking Instructions</p>
        <div id="instructions-list" class="form-group">
            <div class="instruction">
                <input type="text" name = "instruction-1" class="form-control" placeholder="Please enter an instruction">
                <button class="add-instruction secondary-content" type="button">
                    <i class="material-icons right">add</i>
                </button>
                <button class="delete-instruction secondary-content" type="button">
                    <i class="material-icons right">clear</i>
                </button>
            </div>
        </div>
    </div>
</form>
</section>
{% endblock %}
