{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/add_edit_recipe.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/modals.css') }}" type="text/css" />
<section class="vh100 container-fluid">
    <form id="add-recipe" action="{{ url_for('insert_recipe') }}" method="POST">
        <div class="container">
            <p class = "add-recipe__name">Recipe Name</p>
            <input type="text" autocomplete = "off" name="recipe_name" class="form-control" id="recipe__name" placeholder="Add Recipe Name" minlength = "6" maxlength = "25" required>
        </div>
        <div class="container">
            <p class = "add-recipe__ingredients">Ingredients</p>
            <div id="ingredients-list" class="form-group">
                <div class="ingredient">
                    <input type="text" autocomplete = "off" name="ingredient-1" class="form-control" placeholder="Add Ingredient" minlength = "3" maxlength = "50" required>
                    <button class="add-ingredient secondary-content" type="button">
                    <i class="material-icons right">add</i>
                </button>
                    <button class="delete-ingredient secondary-content" type="button">
                    <i class="material-icons right">clear</i>
                </button>
                </div>
            </div>
        </div>
        <div class="container">
            <select name="allergen_name" required>
            <option id = "choose-allergens" value="" disabled selected>Choose Allergen</option>
            {% for allergen in allergens %}
                <option  value="{{ allergen.allergen_name }}" name="allergens-{{ loop.index }}">{{ allergen.allergen_name }}</option>
            {% endfor %}
        </select>
            <select name="cuisine_name" required>
            <option id = "choose-cuisines" value="" disabled selected>Choose Cuisine</option>
            {% for cuisine in cuisines %}
                <option value="{{ cuisine.cuisine_name }}" name="cuisines-{{ loop.index }}">{{ cuisine.cuisine_name }}</option>
            {% endfor %}
        </select>
            <select name="course_name" required>
            <option id = "choose-courses" value="" disabled selected>Choose Course</option>
            {% for course in courses %}
                <option value="{{ course.course_name }}" name="courses-{{ loop.index }}">{{ course.course_name }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="container">
            <p class = "add-recipe__instructions">Cooking Instructions</p>
            <div id="instructions-list" class="form-group">
                <div class="instruction">
                    <input type="text" autocomplete = "off" name="instruction-1" class="form-control" placeholder="Add Instruction" minlength = "4" maxlength = "100" required>
                    <button class="add-instruction secondary-content" type="button">
                    <i class="material-icons right">add</i>
                </button>
                    <button class="delete-instruction secondary-content" type="button">
                    <i class="material-icons right">clear</i>
                </button>
                </div>
            </div>
        </div>
        <div class = "add-button-container">
             <a class="cancel-update-button btn btn-default" data-toggle="modal" data-target="#cancelModal">Cancel</a>
            <button id="submit_recipe" type="submit" class="add-button btn btn-primary btn-center">Add Recipe</button>
        </div>
    </form>
</section>
<!-- Cancel Modal -->
{% include 'includes/_cancelmodal.html' %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/addRecipe.js') }}" async></script>
{% endblock %}
