<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe Cookbook</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" />
    <link rel="shortcut icon" href="#">
    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>
    <script type="text/javascript">
        document.getElementsByTagName('html')[0].classList.add('hidden');
        window.addEventListener('load', function() {
            document.getElementsByTagName('html')[0].classList.remove('hidden');
        });
    </script>
</head>

<body>
    <div class="container-fluid">
        {% include 'includes/_navbar.html' %} {% block content %}{% endblock %}
        <footer>
            <div class="footer">
                <div class="footer__copyright"><span>©Ioan-Dumitru Hadarean. All rights reserved. </span>
                    <a href = "https://github.com/IoanHadarean?tab=repositories" target = "_blank"><i class="fab fa-github"></i></a>
                    <a href = "https://www.linkedin.com/in/ioan-hadarean-a11676114/" target = "_blank"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js" async></script>
    <script src="{{ url_for('static', filename = 'js/navbar.js') }}" async></script>

</body>

</html>
