{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/add_edit_recipe.css') }}" type="text/css" />
<section class="vh100 container-fluid">
    <form id="edit-recipe" class = "container" action="{{url_for('update_recipe', recipe_id = the_recipe._id) }}" method="POST">
        <div class="container">
            <p class = "edit-recipe__name">Recipe Name</p>
            <input type="text" autocomplete = "off" name="recipe_name" value="{{the_recipe.recipe_name }}" class="form-control" id="recipe__name" min = "6" max = "30" required>
        </div>
        <div class="container">
            <p class = "edit-recipe__ingredients">Ingredients</p>
            <div id="ingredients-list" class="form-group">
                {% for ingredient in the_recipe.ingredients %}
                <div class="ingredient">
                    <input type="text" autocomplete = "off" name="ingredient-{{loop.index}}" class="form-control" value="{{ ingredient }}" minlength = "3" maxlength = "50" required>
                    <button class="add-ingredient secondary-content" type="button">
                    <i class="material-icons right">add</i>
                    </button>
                    <button class="delete-ingredient secondary-content" type="button">
                    <i class="material-icons right">clear</i>
                </button>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <select name="allergen_name" required>
            <option id = "choose-allergens-edit" value="" disabled selected>Choose Allergen</option>
            {% for allergen in allergens %}
                {% if allergen.allergen_name == the_recipe.allergen_name %}
                <option  value="{{ allergen.allergen_name }}" name="allergens-{{ loop.index }}" selected>{{ allergen.allergen_name }}</option>
                {% else %}
                <option  value="{{ allergen.allergen_name }}" name="allergens-{{ loop.index }}">{{ allergen.allergen_name }}</option>
                {% endif %}
            {% endfor %}
        </select>
            <select name="cuisine_name" required>
            <option id = "choose-cuisines-edit" value="" disabled selected>Choose Cuisine</option>
            {% for cuisine in cuisines %}
                {% if cuisine.cuisine_name == the_recipe.cuisine_name %}
                <option value="{{ cuisine.cuisine_name }}" name="cuisines-{{ loop.index }}" selected>{{ cuisine.cuisine_name }}</option>
                {% else %}
                 <option value="{{ cuisine.cuisine_name }}" name="cuisines-{{ loop.index }}">{{ cuisine.cuisine_name }}</option>
                {% endif %}
            {% endfor %}
        </select>
            <select name="course_name" required>
            <option id = "choose-courses-edit" value="" disabled selected>Choose Course</option>
            {% for course in courses %}
                {% if course.course_name == the_recipe.course_name %}
                <option value="{{ course.course_name }}" name="courses-{{ loop.index }}" selected>{{ course.course_name }}</option>
                {% else %}
                <option value="{{ course.course_name }}" name="courses-{{ loop.index }}">{{ course.course_name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </div>
        <div class="container cooking-instructions">
            <p class = "edit-recipe__instructions">Cooking Instructions</p>
            <div id="instructions-list" class="form-group">
                {% for instruction in the_recipe.instructions %}
                <div class="instruction">
                    <input type="text" autocomplete = "off" name="instruction-{{loop.index}}" class="form-control" value="{{ instruction }}" minlength = "4" maxlength = "100" required>
                    <button class="add-instruction secondary-content" type="button">
                        <i class="material-icons right">add</i>
                    </button>
                    <button class="delete-instruction secondary-content" type="button">
                        <i class="material-icons right">clear</i>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
       <div class = "update-button-container">
            <button id="submit_recipe" type="submit" class="update-button btn btn-primary btn-center">Update Recipe</button>
        </div>
    </form>
</section>
{% endblock %}
