{% extends 'base.html' %} {% block content %} {% include 'includes/_messages.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/special_styling.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/get_user_recipe.css') }}" type="text/css" />
<section>
    <!-- Recipe image -->
    <div class="recipe__image">
        <img class="image__inline" src= "{{ user_recipe.recipe_image }}" onerror="this.onerror=null;this.src='static/images/recipe.jpg';" alt="recipe-image">
    </div>


    <!-- Recipe Info -->
    <div class="recipe__info">
        <!-- Recipe description -->
        <div class="recipe__title">
            <h1 class="title__description">{{ user_recipe.recipe_name }}</h1>
        </div>
        <div class="recipe__author">
            <p class="author__description">By {{ user_recipe.username }}</p>
        </div>
        
        
        
        <!-- Recipe specification -->
        <div class="info__specs">
            <div class="specs__cuisine">
                <span>Cuisine</span>
                <span class="is-spec">{{ user_recipe.cuisine_name }}</span>
            </div>
            <div class="specs__course">
                <span>Course</span>
                <span class="is-spec">{{ user_recipe.course_name }}</span>
            </div>
            <div class="specs__allergens">
                <span>Allergens</span>
                <span class="is-spec">{{ user_recipe.allergen_name }}</span>
            </div>
        </div>
        
        <!-- Recipe alert -->
        <div class="recipe-separator"></div>
        <div class="recipe__alert">
            <h3 class="alert__description">Add your own recipes</h3>
            <div class="alert__box">
                {% if session.logged_in %}
                <a class="box__link" href="/add_recipe">ADD RECIPE</a> {% else %}
                <a class="box__link" href="#">ADD RECIPE</a>
                <div id="recipe__modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="modal__title modal__title--margins-1">To add a recipe please register</p>
                        <a class="modal__alert" href="{{ url_for('register', next = request.path) }}">
                            <button class="btn btn-primary btn-center btn-styled">Register</button>
                        </a>
                        <p class="modal__title modal__title--margins-2"> or if you already have an account please</p>
                        <a class="modal__alert" href="{{ url_for('login', next = request.path) }}">
                            <button class="btn btn-success btn-styled">Login</button>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Recipe ingredients -->
        <div class="recipe-separator"></div>
        <h3 class="ingredients__description">Ingredients</h3>
        <div class="recipe__ingredients">
            <ul class="ingredients__container">
                {% for ingredient in user_recipe.ingredients %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="recipe-separator"></div>

        <!-- Recipe instructions -->
        <div class="recipe__instructions">
            <h3 class="instructions__description cooking">Cooking Instructions</h3>
            {% for instruction in user_recipe.instructions %}
            <div class="instructions__full">
                <span class="instructions__index">{{ loop.index }}</span>
                <li>{{ instruction }}</li>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
