{% extends 'base.html' %} {% block content %} {% include 'includes/_messages.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/special_styling.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/get_recipe.css') }}" type="text/css" />
<section>
    <!-- Recipe image -->
    <div class="recipe__image">
        <img class="image__inline" src= "{{ recipe.recipe_image }}" onerror="this.onerror=null;this.src='static/images/recipe.jpg';" alt="recipe-image">
    </div>

    <!-- Recipe likes -->
    <div class="recipe__likes">
        <span id="likes__number">Likes {{ recipe.likes |int }}</span> {% if session.logged_in %}
        <a class="fa fa-thumbs-up" href="/like/{{ recipe._id }}" data-name = {{ recipe_id }}>Like</a>
        <a class="fa fa-thumbs-down" href="/dislike/{{ recipe._id }}" data-name = {{ recipe_id }}>Dislike</a> {% else %}
        <a class="fa fa-thumbs-up" href="#">Like</a>
        <a class="fa fa-thumbs-down" href="#">Dislike</a>
        <div id="like__modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p class="modal__title modal__title--margins-1">To like/dislike this recipe please register</p>
                <a class="modal__alert" href="{{ url_for('register', next = request.path) }}">
                    <button class="btn btn-primary btn-center btn-styled">Register</button>
                </a>
                <p class="modal__title modal__title--margins-2"> or if you already have an account please</p>
                <a class="modal__alert" href="{{ url_for('login', next = request.path) }}">
                    <button class="btn btn-success btn-styled">Login</button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Recipe ratings -->
    <div class="recipes__rating">
        <span class="ratings__title">Rating</span>
        <div class="stars-outer">
            <div class="stars-inner"></div>
        </div>
        <span class="numbers-rating">{{ recipe.rating }}</span>
        {% if instance_rating == None and user != None %}
            <button id="rating__button">Rate Recipe</button>
        {% elif user == None %}
            <button id="rating__button">Rate Recipe</button>
        {% else %}
            <button id="rating__button">{{ instance_rating.rateText }}</button>
        {% endif %}
        {% if session.logged_in %}
        <div id="rating__modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h4 class="modal__title modal__title--question">How does this taste?</h4>
                <p class="modal__select">Select Rating</p>
                <form class="modal__rating" action="/update_rating/{{ recipe._id }}" method="POST">
                    <x-star-rating value="0" name="rating" id="rating"></x-star-rating>
                    <input type="hidden" id="rate" name="rating" value= "0" />
                    <button class="modal__submit" type = "submit" disabled>Save and Continue</button>
                </form>
            </div>
        </div>
        {% else %}
        <div id="rating__modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p class="modal__title modal__title--margins-1">To rate this recipe please register</p>
                <a class="modal__alert" href="{{ url_for('register', next = request.path) }}">
                    <button class="btn btn-primary btn-center btn-styled">Register</button>
                </a>
                <p class="modal__title modal__title--margins-2"> or if you already have an account please</p>
                <a class="modal__alert" href="{{ url_for('login', next = request.path) }}">
                    <button class="btn btn-success btn-styled">Login</button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Recipe Info -->
    <div class="recipe__info">
        <!-- Recipe description -->
        <div class="recipe__title">
            <h1 class="title__description">{{ recipe.recipe_name }}</h1>
        </div>
        <div class="recipe__author">
            <p class="author__description">By {{ recipe.author_name }}</p>
        </div>
        
        <!-- Recipe specification -->
        <div class="info__specs">
            <div class="specs__cuisine">
                <span>Cuisine</span>
                <span class="is-spec">{{ recipe.cuisine_name }}</span>
            </div>
            <div class="specs__course">
                <span>Course</span>
                <span class="is-spec">{{ recipe.course_name }}</span>
            </div>
            <div class="specs__allergens">
                <span>Allergens</span>
                <span class="is-spec">{{ recipe.allergen_name }}</span>
            </div>
        </div>

        <!-- Recipe cooking time -->
        <div class="recipe-separator"></div>
        <div class="info__time">
            <div class="time__clock">
                <i class="far fa-clock"></i>
            </div>
            <div class="time__cooking">
                <span>Cooking</span>
                <span class="is-time">{{ recipe.cooking_time }}</span>
            </div>
            <div class="time__preparation">
                <span>Preparation</span>
                <span class="is-time">{{ recipe.preparation_time }}</span>
            </div>
            <div class="time__ready">
                <span>Ready In</span>
                <span class="is-time">{{ total }}</span>
            </div>
        </div>

        <!-- Recipe alert -->
        <div class="recipe-separator"></div>
        <div class="recipe__alert">
            <h3 class="alert__description">Add your own recipes</h3>
            <div class="alert__box">
                {% if session.logged_in %}
                <a class="box__link" href="/add_recipe">ADD RECIPE</a> {% else %}
                <a class="box__link" href="#">ADD RECIPE</a>
                <div id="recipe__modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="modal__title modal__title--margins-1">To add a recipe please register</p>
                        <a class="modal__alert" href="{{ url_for('register', next = request.path) }}">
                            <button class="btn btn-primary btn-center btn-styled">Register</button>
                        </a>
                        <p class="modal__title modal__title--margins-2"> or if you already have an account please</p>
                        <a class="modal__alert" href="{{ url_for('login', next = request.path) }}">
                            <button class="btn btn-success btn-styled">Login</button>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Recipe ingredients -->
        <div class="recipe-separator"></div>
        <h3 class="alert__description ingredients">Ingredients</h3>
        <div class="recipe__quantities">
            <ul class="quantities__container">
                {% for quantity in full_quantities %}
                <li>{{ quantity }}</li>
                {% endfor %}
                <ul>
        </div>
        <div class="recipe__ingredients">
            <ul class="ingredients__container">
                {% for ingredient in full_ingredients %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="recipe-separator"></div>
        
        <!-- Recipe calories and servings -->
        <div class = "recipe-separator">
            <div class = "recipe__calories">
                <span class = "calories__description">{{ recipe.calories }}</span>
            </div>
            <div class = "recipe__servings">
                <span class = "servings__description">{{ recipe.servings }}</span>
            </div>
        </div>

        <!-- Recipe instructions -->
        <div class="recipe__instructions">
            <h3 class="alert__description cooking">Cooking Instructions</h3>
            {% for instruction in recipe.cooking_directions %}
            <div class="instructions__full">
                <span class="instructions__index">{{ loop.index }}</span>
                <li>{{ instruction }}</li>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename = 'js/ratings.js') }}" async></script>
<script src="{{ url_for('static', filename = 'js/modal.js') }}" async></script>
<script src="{{ url_for('static', filename = 'js/starRating.js') }}" async></script>
<script type="text/javascript">
    var recipeId = '{{ recipe._id }}';
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/likes.js') }}"></script>
{% endblock %}
