{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/get_recipe.css') }}" type="text/css" />
<section>
    <div class="recipe__image">
        <a href="#">
            <img class = "image__inline" src = {{ recipe.recipe_image }} alt = "recipe-image">
        </a>
    </div>
    <div class="recipe__info">
        <div class="recipe__title">
            <h1 class="title__description">{{ recipe.recipe_name }}</h1>
        </div>
        <div class="recipe__author">
            <p class="author__description">By {{ recipe.author_name }}</p>
        </div>
        <div class="recipe-separator"></div>
        <div class="info__time">
            <i class="far fa-clock"></i>
            <div class="time__cooking">
                <span>Cooking Time</span>
                <span class = "is-time">{{ recipe.cooking_time }}</span>
            </div>
            <div class="time__preparation">
                <span>Preparation Time</span>
                <span class = "is-time">{{ recipe.preparation_time }}</span>
            </div>
            <div class="time__ready">
                <span>Ready In</span>
                <span class = "is-time">{{ total }}</span>
            </div>
        </div>
        <div class="recipe-separator"></div>
        <div class = "recipe__alert">
            <h3 class = "alert__description">Add your own recipes</h3>
            <div class = "alert__box">
                <a class = "box__link" href = "">GET COOKING</a>
            </div>
            <div class="recipe-separator"></div>
        </div>
        <div class = "recipe__quantities">
            {% for quantity in full_quantities %}
                <li>{{ quantity }}</li>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
