{% extends 'base.html' %} {% block content %} {% include 'includes/_messages.html' %}
<link rel="stylesheet" href="{{ url_for ('static', filename = 'css/profile.css') }}" type="text/css" />
<section>
    <div class = "content-section">
        <div class = "media">
            <img class = "rounded-circle account-img" src = "static/images/avatar.png" />
        </div>
        <div class = "media-body">
            <h2 class = "account-heading">{{ current_user }}</h2>
            <p class = "text-secondary"> {{ current_email }}</p>
        </div>
    </div>
</section>
{% endblock %}
