{% extends 'base.html' %} {% block content %} {% from "includes/_formhelpers.html" import render_field %} {% include 'includes/_messages.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/profile.css') }}" type="text/css" />
<section>
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src= "{{ url_for('static', filename = 'images/' + image_file) }}"/>
        </div>
        <div class="media-body">
            <h2 class="account-heading">{{ current_name }}</h2>
            <p class="text-secondary"> {{ current_email }}</p>
            {% if profile_description %}
            <p class="text-secondary">{{ profile_description }}</p>
            {% else %}
            <p class="text-secondary"></p>
            {% endif %}
            <p id = "date-time" class="text-secondary">{{ date }}</p>
        </div>
    </div>

    <!-- Edit Profile Form -->

    <form id="profile-form" method="POST" action="" enctype = "multipart/form-data">
        <div class="form-group form-group--responsive">
            <div class="row col-lg-12">
                <h4>{{render_field(form.name, class_="form-control")}}</h4>
            </div>
        </div>
        <div class="form-group form-group--responsive">
            <div class="row col-lg-12">
                <h4>{{render_field(form.email, class_="form-control")}}</h4>
            </div>
        </div>
        <div class="form-group form-group--responsive">
            <div class="row col-lg-12">
                <h4>{{render_field(form.about_me, class_="form-control")}}</h4>
            </div>
        </div>
        <div class="form-group form-group--responsive">
            <div class="row col-lg-12">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class = "text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group form-group--responsive">
            <div class="row col-lg-12 row-center">
                <button id = "submit_profile" type="submit" class="btn btn-primary btn-center">Update</button>
            </div>
        </div>
    </form>
</section>
 <script type="text/javascript">
    var date = '{{ date }}';
    console.log(date);
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/helpInlineProfile.js') }}" async></script>
{% endblock %}
