{% extends 'base.html' %} {% block content %} {% from "includes/_formhelpers.html" import render_field %} {% include 'includes/_messages.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/profile.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/recipes.css') }}" type="text/css" />
<section class="no-margins">
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ url_for('static', filename = 'images/' + image_file) }}" />
        </div>
        <div class="media-body">
            <h2 class="account-heading">{{ current_name }}</h2>
            <p class="text-secondary"> {{ current_email }}</p>
            {% if profile_description %}
            <p class="text-secondary">{{ profile_description }}</p>
            {% else %}
            <p class="text-secondary"></p>
            {% endif %}
            <p id="date-time" class="text-secondary">{{ date }}</p>
        </div>
    </div>

    <!-- Edit Profile Form -->

    <form id="profile-form" method="POST" action="" enctype="multipart/form-data">
        <div class="form-group form-group--responsive">
            <div class="row col-lg-12">
                <h4>{{render_field(form.name, class_="form-control")}}</h4>
            </div>
        </div>
        <div class="form-group form-group--responsive">
            <div class="row col-lg-12">
                <h4>{{render_field(form.email, class_="form-control")}}</h4>
            </div>
        </div>
        <div class="form-group form-group--responsive">
            <div class="row col-lg-12">
                <h4>{{render_field(form.about_me, class_="form-control")}}</h4>
            </div>
        </div>
        <div class="form-group form-group--responsive">
            <div class="row col-lg-12">
                {{ form.picture.label() }} {{ form.picture(class="form-control-file") }} {% if form.picture.errors %} {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span></br>
                {% endfor %} {% endif %}
            </div>
        </div>
        <div class="form-group form-group--responsive">
            <div class="row col-lg-12 row-center">
                <button id="submit_profile" type="submit" class="btn btn-primary btn-center">Update</button>
            </div>
        </div>
    </form>
</section>
<section class="adjusted-margins">
    <div class="container">
        {% if args %} {% for recipe in args.recipes_sorted %}
        <div class="recipes">
            <div class="recipes__name">
                <h3 class="name__inline">{{ recipe.recipe_name }}</h3>
            </div>
            <div class="recipes__image">
                <a href="{{ url_for('get_user_recipe', recipe_id=recipe._id) }}">
                    <img class = "image__inline" src = {{ recipe.recipe_image }} alt = "recipe-image">
                </a>
            </div>
            <div class="recipes__author">
                <p class="author__inline">By {{ recipe.username }}</p>
            </div>
            <div class="recipes__view">
                <a class="view__details" href="{{ url_for('get_user_recipe', recipe_id=recipe._id) }}">View Recipe</a>
            </div>
        </div>
        {% endfor %} {% if args.total_results > args.limit %}
        <div class="recipes__pagination">
            <ul class="pagination__list">
                {% if args.offset > 0 %}
                <li class="list__prev">
                    <a href="{{args.prev_url}}">Previous</a>
                </li>
                {% endif %} {% if args.offset + args.limit
                < args.total_results %} <li class="list__next">
                    <a href="{{args.next_url}}">Next</a>
                    </li>
                    {% endif %}
            </ul>
        </div>
    </div>
    {% endif %} {% endif %}
</section>
<script type="text/javascript">
    var date = '{{ date }}';
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/helpInlineProfile.js') }}" async></script>
{% endblock %}
