/* ------------------------------------------- Special margins/styling ------------------------- */

html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
p {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
a {
	text-decoration: none;
	color: blue;
	text-align: center;
	&:visited {
		color: blue;
	}
}


/* -------------------------------------------- Error text ------------------------------ */

.error__text {
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    font-size: 1.5rem;
    -webkit-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
}