/* ------------------------- Special margins and styling ----------------- */

footer {
    position: absolute;
}


/* ---------------------------Recipe Search ------------------ */

#search_message {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
}
#count_results {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
}
.uk-search {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0.625rem;
	margin-left: auto;
	margin-right: auto;
}
.uk-search-input {
	width: 100vw;
	-webkit-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
}
.btn {
	width: 7.5rem;
	margin-top: 0;
	&:disabled {
		background-color: #62a5a1;
		opacity: 1;
		cursor: pointer;
		pointer-events: none;
	}
}
#search-btn-container {
	height: 2.125rem;
	margin-top: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.font-size-icon {
	font-size: 3.125rem;
}
.all-recipes {
	height: 2rem;
	color: black;
	margin-left: 1.25rem;
	&:hover {
		text-decoration: none;
	}
}
.back-all-button {
	background: white;
	border: 0.0625rem solid black;
}


/* ---------------------------------- Media Queries ------------------------------ */

@media (min-height: 1024px) {
	form {
		top: 15vh;
	}
}
@media (max-height: 1024px) and (min-height: 667px) {
	form {
		top: 15vh;
	}
}
@media (max-width: 768px) and (min-width: 560px) {
	.uk-search {
		width: 60vw;
		max-width: 60vw;
	}
	.uk-search-input {
		width: 60vw;
		max-width: 60vw;
	}
	#search-btn-container {
		width: 60vw;
		max-width: 60vw;
	}
}
@media (min-height: 641px) and (max-height: 960px) and (min-width: 375px) {
	#search_message {
		margin-top: 2.5rem;
	}
}
@media only screen and (max-width: 320px) {
	#search_message {
		margin-top: 2.1875rem;
	}
}
@media only screen and (max-height: 360px) {
	#search_message {
		margin-top: 1.25rem;
	}
	footer {
		margin-bottom: -6.25rem;
	}
}
@media (max-width: 1440px) and (min-width: 769px) {
	.uk-search {
		width: 40vw;
		max-width: 40vw;
	}
	.uk-search-input {
		width: 40vw;
		max-width: 40vw;
	}
	#search-btn-container {
		width: 40vw;
		max-width: 40vw;
	}
}
@media (min-width: 1441px) {
	.uk-search {
		width: 30vw;
		max-width: 30vw;
	}
	.uk-search-input {
		width: 30vw;
		max-width: 30vw;
	}
	#search-btn-container {
		width: 30vw;
		max-width: 30vw;
	}
}
@media (max-height: 667px) and (min-height: 360px) {
	form {
		top: 25vh;
	}
}
