/*------------------Special margins and styling--------------- */

footer {
	bottom: 0;
	width: 100%;
}
.container {
	width: 100%;
	margin-top: 12.5rem;
	padding: 0;
	height: 100%;
}
section {
	margin-top: 6.25rem;
	overflow: hidden;
}



/*--------------------------- Recipe Info ---------------------*/

.name__inline {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 25vw;
	margin-top: 0.625rem;
	font-size: 1.25rem;
}
.author__inline {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 25vw;
	margin-top: 0.625rem;
	font-size: 1rem;
	color: black;
}
.recipes {
	display: inline-block;
	width: 25vw;
	margin-left: 6vw;
	background: white;
	border-radius: 5%;
	box-shadow: 0 0 0.6875rem rgba(33, 33, 33, .2);
	&:hover {
		-webkit-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
		box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
	}
}
.recipes__name {
	min-height: 4.375rem;
	display: flex;
}
.recipes__image {
	width: 24.8vw;
	height: 12.5rem;
	img {
		width: 98.3%;
		height: 100%;
		border-radius: 1.25rem;
	}
}
.random-message {
	width: 60vw;
	height: 3.75rem;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: -3.125rem;
	position: relative;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.25rem;
	border-radius: 1.25rem;
	-webkit-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
	&:before {
		content: "";
		position: absolute;
		z-index: -2;
	}
	&:after {
		content: "";
		position: absolute;
		z-index: -2;
	}
}
.lifted {
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	&:before {
		bottom: 0.9375rem;
		left: 0.625rem;
		width: 50%;
		height: 20%;
		max-width: 18.75rem;
		max-height: 6.25rem;
		-webkit-box-shadow: 0 0.9375rem 0.625rem rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 0 0.9375rem 0.625rem rgba(0, 0, 0, 0.7);
		box-shadow: 0 0.9375rem 0.625rem rgba(0, 0, 0, 0.7);
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	&:after {
		bottom: 0.9375rem;
		left: 0.625rem;
		width: 50%;
		height: 20%;
		max-width: 18.75rem;
		max-height: 6.25rem;
		-webkit-box-shadow: 0 0.9375rem 0.625rem rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 0 0.9375rem 0.625rem rgba(0, 0, 0, 0.7);
		box-shadow: 0 0.9375rem 0.625rem rgba(0, 0, 0, 0.7);
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		transform: rotate(-3deg);
		right: 0.625rem;
		left: auto;
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		transform: rotate(3deg);
	}
}
.recipes__view {
	height: 3.125rem;
	font-size: 1.25rem;
	width: 100vw;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	-webkit-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
	a {
		text-decoration: none;
		width: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		color: #62a5a1;
	}
}
.view__details {
	color: black;
}


/*  ------------------------------------Pagination ------------------------- */

.list__prev {
	display: inline-block;
	text-align: center;
	margin-top: 1rem;
	float: left;
	margin-left: 10vw;
	>a {
		color: black;
		text-decoration: none;
	}
}
.list__next {
	display: inline-block;
	text-align: center;
	margin-top: 1rem;
	float: right;
	margin-right: 10vw;
	>a {
		color: black;
		text-decoration: none;
	}
}
.pagination__list {
	height: 3.125rem;
	padding: 0;
	margin-bottom: 1rem;
	font-size: 1.25rem;
}
.recipes__pagination {
	height: 3.125rem;
	padding: 0;
	margin-bottom: 1rem;
	font-size: 1.25rem;
}
.font-size-icon {
	font-size: 4.375rem;
}


/* ---------------------------------------Media Queries ------------------------------ */

@media (min-width: 320px) and (max-width: 560px) {
	.recipes {
		width: 100vw;
		margin-left: 0;
		z-index: 2;
		margin-bottom: 5rem;
	}
	.recipes__pagination {
		margin-top: -1.875rem;
	}
	.message-separator {
		display: none;
	}
	.random-message {
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		width: 100vw;
		margin-left: 0;
		margin-right: 0;
		height: 5.625rem;
	}
}
@media (min-width: 560px)and (max-width: 768px) {
	.recipes {
		width: 60vw;
		margin-left: 20vw;
		margin-bottom: 3.125rem;
	}
	.recipes__view {
		width: 60vw;
	}
	.list__next {
		margin-right: 20vw;
	}
	.list__prev {
		margin-left: 20vw;
	}
}
@media (min-width: 320px) and (max-width: 768px) {
	.recipes__image {
		width: 100%;
		img {
			width: 80%;
			margin-left: 10%;
		}
	}
	.author__inline {
		width: 100%;
	}
	.name__inline {
		width: 100%;
	}
	.recipes__separator-large {
		display: none;
	}
	.recipes__separator-medium {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 900px) {
	.recipes__image {
		height: 11.25rem;
		img {
			height: 11.25rem;
		}
	}
}
@media (min-width: 768px) and (max-width: 1000px) {
	.recipes {
		width: 35vw;
		margin-left: 10vw;
		margin-bottom: 3.125rem;
	}
	.recipes__view {
		width: 35vw;
	}
	.recipes__image {
		width: 35vw;
		img {
			width: 80%;
			margin-left: 10%;
		}
	}
	.name__inline {
		width: 35vw;
	}
	.author__inline {
		width: 35vw;
	}
	.recipes__separator-large {
		display: none;
	}
}
@media (min-width: 560px) {
	.recipes__view {
		margin-bottom: 0;
		margin-bottom: 1.875rem;
		margin-left: 10%;
		width: 80%;
	}
}
@media (min-width: 1000px) {
	.recipes__separator-medium {
		display: none;
	}
	.recipes {
		margin-left: 5vw;
		margin-bottom: 3.125rem;
		width: 26.66vw;
	}
	.recipes__image {
		width: 26.66vw;
		img {
			width: 80%;
			margin-left: 10%;
		}
	}
	.author__inline {
		width: 26.66vw;
	}
	.name__inline {
		width: 26.66vw;
	}
}
@media (min-height: 1281px) {
	footer {
		position: absolute;
		width: 100vw;
	}
}
