<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error 500</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/error.scss.css') }}" type="text/css" />
</head>

<body>
    <section class="error">
        <div class="error__text">
            <p><strong>500 <i>Database connection Failed</i></strong></p>
            <p>It seems the oven is broken...</p>
            <a class = "error__button" href = "{{ url_for('recipes', pagination_limit=6, pagination_offset=0 ) }}">Go get a new one</a>
        </div>
    </section>

</body>

</html>