{% extends 'base.html' %} 
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/special_styling.scss') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.scss') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/statistics.scss') }}" type="text/css" />

<!-- Statistics charts -->
<div class="container_fluid">
    <div id="dot_chart">
         <embed type="image/svg+xml" src={{dot_chart|safe}} /> 
    </div>
    <div id="solid_gauge_chart">
        <embed type="image/svg+xml" src={{solid_gauge_chart|safe}} />
    </div>
    <div id="gauge_chart">
        <embed type="image/svg+xml" src={{gauge_chart|safe}} />
    </div>
</div>
{% endblock %}
